terraform.tfstate
terraform.tfstate.backup
token.json
crash.log
.gradle
.vscode
*.iml
.idea
/devops/*/build
/devops/docker/*/*.jar
target
/devops/build/
/devops/deploy/
gradle/
gradlew
gradlew.bat
.packages
.pub
pubspec.lock
packages
build/
.project
.classpath
.settings/
META-INF/
*.retry
/devops/terraform/mw/**
/devops/docker/Deployer/mw/**
/devops/docker/Deployer/files/**
.terraform
/devop/terraform/bin/*
/devop/terraform/pcp/jars/*
crash.log
/devops/terraform/pcp/.terraform/**
/devops/terraform/pcp/jars/**
.terraform/