<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/logo-small.png"></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">


                <ul class="nav navbar-nav">

                    <li sec:authorize="hasAuthority('ADMIN') or hasAuthority('BUSINESS_OWNER_VENDOR') or hasAuthority('BUSINESS_OWNER_CUSTOMER') "
                        class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">User Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li sec:authorize="hasAuthority('ADMIN')"><a href="/upload/user">User Data Import</a></li>
                            <li><a href="/userListView">User Management</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAuthority('BUSINESS_OWNER_VENDOR') or hasAuthority('ADMIN')" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Vendor Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/upload">Vendor Data Import</a></li>
                            <li><a href="/vendorListView">Vendor Management</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAuthority('BUSINESS_OWNER_CUSTOMER') or hasAuthority('ADMIN')"
                        class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Customer Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/upload/customer">Customer Data Import</a></li>
                            <li><a href="/customerListView">Customer Management</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="hasAuthority('VENDOR')"><a href="#" data-toggle="modal" data-target="#myModal">PCBL
                        GST Registration Details</a></li>
                    <li sec:authorize="hasAuthority('CUSTOMER')"><a href="#" data-toggle="modal" data-target="#myModal">PCBL
                        GST Registration Details Customer</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/login"><span
                            class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li sec:authorize="isAuthenticated()"><p class="navbar-text">Logged in User:(<span
                            sec:authentication="name"></span>)</p></li>
                    <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}"><span
                            class="glyphicon glyphicon-log-in"></span> Log Off</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PCBL GST Registration Details</h4>
                </div>
                <div class="modal-body">
                    <table class="table  table-bordered">
                        <thead class="thead-inverse">
                        <tr>
                            <th>State Name</th>
                            <th>State Code</th>
                            <th>Prov ID No.</th>
                            <th>ARN No.</th>
                            <th>PCBL Locations involved</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td th:rowspan="2">WEST BENGAL</td>
                            <td th:rowspan="2">19</td>
                            <td th:rowspan="2">19AABCP5762E1ZC</td>
                            <td th:rowspan="2">AA191216004374G</td>
                            <td>DGP Factory</td>

                        </tr>
                        <tr>
                            <td>Kolkata Warehouse</td>
                        </tr>
                        <tr>

                            <td th:rowspan="2">GUJARAT</td>
                            <td th:rowspan="2">24</td>
                            <td th:rowspan="2">24AABCP5762E1ZL</td>
                            <td th:rowspan="2">AA241216000345U</td>
                            <td>Palej Factory</td>

                        </tr>
                        <tr>
                            <td>Mundra Factory</td>
                        </tr>
                        <tr>

                            <td th:rowspan="4">KERALA</td>
                            <td th:rowspan="4">32</td>
                            <td th:rowspan="4">32AABCP5762E1ZO</td>
                            <td th:rowspan="4">AA320117043014Y</td>
                            <td>Kochi Factory</td>
                        </tr>
                        <tr>
                            <td>Trichhor Warehouse</td>
                        </tr>
                        <tr>
                            <td>Kalamessary Warehouse</td>
                        </tr>
                        <tr>
                            <td>Manjeri Warehouse</td>
                        </tr>

                        <tr>
                            <td>TAMILNADU</td>
                            <td>33</td>
                            <td>33AABCP5762E1ZM</td>
                            <td>AA330117010278N</td>
                            <td>Chennai Warehouse</td>
                        </tr>

                        <tr>
                            <td>TELANGANA</td>
                            <td>36</td>
                            <td>36AABCP5762E1ZG</td>
                            <td>AA360117008841G</td>
                            <td>Medak Warehouse</td>
                        </tr>

                        <tr>
                            <td>GOA</td>
                            <td>30</td>
                            <td>30AABCP5762E1ZS</td>
                            <td>AA301216000043B</td>
                            <td>Goa Warehouse</td>
                        </tr>
                        <tr>
                            <td>ANDHRA PRADESH</td>
                            <td>28</td>
                            <td>37AABCP5762E1ZE</td>
                            <td>Mgt decision to close down GST regime</td>
                            <td>Chittor Warehouse</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>



</body>
</html>