<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="communication" th:object="${customer}">
    <div class="form-group">
        <label class="col-xs-2 control-label">Contact Person</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" th:field="*{contactPerson}" th:disabled="*{submityn == 'Y'}"
                   placeholder="Contact Person"/>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-xs-2  control-label">Telephone-Extn</label>
        <div class="col-xs-6">
            <div class="input-group">

                <input type="text" class="form-control" th:field="*{telephoneNumber}" th:disabled="*{submityn == 'Y'}"
                       placeholder="TelephoneNo"/>
                <span class="input-group-addon">-</span>
                <input type="text" class="form-control" th:field="*{telephoneExtn}" th:disabled="*{submityn == 'Y'}"
                       placeholder="Extension"/>
                <input type="hidden" th:field="*{telephoneNumberExtn}"/>

            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2  control-label">Mobile Number</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" th:field="*{mobileNo}" th:disabled="*{submityn == 'Y'}"
                   placeholder="Mobile Number"/>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-xs-2  control-label">E-mail Address</label>
        <div class="col-xs-6">

            <input type="text" class="form-control" th:field="*{email}" th:disabled="*{submityn == 'Y'}"
                   placeholder="Email Address"/>

        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2  control-label">Fax Number</label>
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" th:field="*{faxNumber}" th:disabled="*{submityn == 'Y'}"
                       placeholder="Fax Number"/>
                <span class="input-group-addon">-</span>
                <input type="text" class="form-control" th:field="*{faxExtn}" th:disabled="*{submityn == 'Y'}"
                       placeholder="Extension"/>
                <input type="hidden" th:field="*{faxNumberExtn}"/>
            </div>
        </div>
    </div>
</div>

</body>
<script th:fragment="communicationjs">

    $(document).ready(function () {
        $('#communication-tab').formValidation({
            framework: 'bootstrap',
            excluded: [':disabled'],
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                telephoneNumber: {
                    row: '.col-xs-6',
                    validators: {
                        notEmpty: {
                            message: 'The Telephone number is required'
                        },
                        phone: {
                            country: 'IN',
                            message: 'The value is not valid %s phone number'
                        }
                    }
                },
                telephoneNumberExtn: {
                    excluded: false,
                    validators: {
                        stringLength: {
                            max: 16,
                            message: 'Telephone number including the extension can not be more than 16  characters'
                        }
                    }
                },
                telephoneExtn: {
                    row: '.col-xs-6',
                    validators: {
                        digits: {
                            message: 'Only digits allowed in this field'
                        },
                        stringLength: {
                            max: 6,
                            message: 'Extension can not be more than 6 digits'
                        }
                    }
                },
                faxNumber: {
                    row: '.col-xs-8',
                    validators: {

                        phone: {
                            country: 'IN',
                            message: 'The value is not valid %s phone number'
                        }
                    }
                },
                faxExtn: {
                    row: '.col-xs-6',
                    validators: {
                        digits: {
                            message: 'Only digits allowed in this field'
                        },
                        stringLength: {
                            max: 6,
                            message: 'Extension can not be more than 6 digits'
                        }
                    }
                },
                faxNumberExtn: {
                    excluded: false,
                    validators: {
                        stringLength: {
                            max: 16,
                            message: 'Fax number including the extension can not be more than 16  characters'
                        }
                    }
                },
                mobileNo: {
                    row: '.col-xs-6',

                    validators: {

                        phone: {
                            country: 'IN',
                            message: 'The value is not valid %s mobile number'
                        },
                        stringLength: {
                            max: 13,
                            message: 'Mobile number including the country code can not be more than 13'
                        }
                    }
                },
                email: {
                    row: '.col-xs-6',
                    validators: {
                        notEmpty: {
                            message: 'The Email is required'
                        },
                        regexp: {
                            regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                            message: 'The value is not a valid email address'
                        },
                        stringLength: {
                            max: 241,
                            message: 'This field must be less than 241 characters'
                        }
                    }
                }
            }
        }).on('err.field.fv', function (e, data) {

            // data.element --> The field element
            var $tabPane = data.element.parents('.tab-pane'),
                tabId = $tabPane.attr('id');
            $('a[href="#' + tabId + '"][data-toggle="tab"]')
                .parent()
                .find('i')
                .removeClass('fa-check')
                .addClass('fa-times');
        }).on('success.field.fv', function (e, data) {
            // data.fv      --> The FormValidation instance
            // data.element --> The field element

            var $tabPane = data.element.parents('.tab-pane'),
                tabId = $tabPane.attr('id'),
                $icon = $('a[href="#' + tabId + '"][data-toggle="tab"]')
                    .parent()
                    .find('i')
                    .removeClass('fa-check fa-times');

            // Check if all fields in tab are valid
            var isValidTab = data.fv.isValidContainer($tabPane);
            if (isValidTab !== null) {
                $icon.addClass(isValidTab ? '' : 'fa-times');
            }
        });


        $('#communication-tab').on('keyup', '[name="faxNumber"], [name="faxExtn"]', function (e) {
            var faxNumber = $('#profileForm').find('[name="faxNumber"]').val(),
                extension = $('#profileForm').find('[name="faxExtn"]').val();
            $('#profileForm')
            // Update the value for hidden field
                .find('[name="faxNumberExtn"]')
                .val(faxNumber + '-' + extension)
                .end()
                // Revalidate it
                .formValidation('revalidateField', 'faxNumberExtn');
        });

        $('#communication-tab').on('keyup', '[name="telephoneNumber"], [name="telephoneExtn"]', function (e) {
            var telephone = $('#profileForm').find('[name="telephoneNumber"]').val(),
                extension = $('#profileForm').find('[name="telephoneExtn"]').val();

            $('#profileForm')
            // Update the value for hidden field
                .find('[name="telephoneNumberExtn"]')
                .val(telephone + '-' + extension)
                .end()
                // Revalidate it
                .formValidation('revalidateField', 'telephoneNumberExtn');


        });

    });

</script>
</html>