<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="address" th:object="${model}">

<div class="form-group">
    <label class="col-xs-2 control-label">Building Number</label>
    <div class="col-xs-3">
        <input type="text" class="form-control" th:field="*{buildingNo}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'Building Number':''}"/>
    </div>
</div>

<div class="form-group required">
    <label class="col-xs-2 control-label">Address Line 1</label>
    <div class="col-xs-6">
        <input type="text" class="form-control" th:field="*{address1}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'Address Line 1':''}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2 control-label">Address Line 2</label>
    <div class="col-xs-6">
        <input type="text" class="form-control" th:field="*{address2}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'Address Line 2':''}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2 control-label">Address Line 3</label>
    <div class="col-xs-6">
        <input type="text" class="form-control" th:field="*{address3}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'Address Line 3':''}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2 control-label">Address Line 4</label>
    <div class="col-xs-6">
        <input type="text" class="form-control" th:field="*{address4}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'Address Line 4':''}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2 control-label">Address Line 5</label>
    <div class="col-xs-6">
        <input type="text" class="form-control" th:field="*{address5}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'Address Line 5':''}"/>
    </div>
</div>

<div class="form-group required">
    <label class="col-xs-2 control-label">PostCode</label>
    <div class="col-xs-2">
        <input type="text" class="form-control" th:field="*{postCode}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'PostCode':''}"/>
    </div>

</div>

<div class="form-group required">

    <label class="col-xs-2 control-label">Country</label>
    <div class="col-xs-3">
        <select class="form-control" th:field="*{country}"  th:disabled="*{submityn == 'Y'}" >
            <option value="">Select a Country</option>
            <option value="AD">Andorra</option>
            <option value="AE">Utd.Arab Emir.</option>
            <option value="AF">Afghanistan</option>
            <option value="AG">Antigua/Barbuda</option>
            <option value="AI">Anguilla</option>
            <option value="AL">Albania</option>
            <option value="AM">Armenia</option>
            <option value="AN">Dutch Antilles</option>
            <option value="AO">Angola</option>
            <option value="AQ">Antarctica</option>
            <option value="AR">Argentina</option>
            <option value="AS">Samoa, America</option>
            <option value="AT">Austria</option>
            <option value="AU">Australia</option>
            <option value="AW">Aruba</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BA">Bosnia-Herz.</option>
            <option value="BB">Barbados</option>
            <option value="BD">Bangladesh</option>
            <option value="BE">Belgium</option>
            <option value="BF">Burkina Faso</option>
            <option value="BG">Bulgaria</option>
            <option value="BH">Bahrain</option>
            <option value="BI">Burundi</option>
            <option value="BJ">Benin</option>
            <option value="BL">Blue</option>
            <option value="BM">Bermuda</option>
            <option value="BN">Brunei Daruss.</option>
            <option value="BO">Bolivia</option>
            <option value="BR">Brazil</option>
            <option value="BS">Bahamas</option>
            <option value="BT">Bhutan</option>
            <option value="BV">Bouvet Islands</option>
            <option value="BW">Botswana</option>
            <option value="BY">Belarus</option>
            <option value="BZ">Belize</option>
            <option value="CA">Canada</option>
            <option value="CC">Coconut Islands</option>
            <option value="CD">Dem. Rep. Congo</option>
            <option value="CF">CAR</option>
            <option value="CG">Rep.of Congo</option>
            <option value="CH">Switzerland</option>
            <option value="CI">Cote d'Ivoire</option>
            <option value="CK">Cook Islands</option>
            <option value="CL">Chile</option>
            <option value="CM">Cameroon</option>
            <option value="CN">China</option>
            <option value="CO">Colombia</option>
            <option value="CR">Costa Rica</option>
            <option value="CS">Serbia/Monten.</option>
            <option value="CU">Cuba</option>
            <option value="CV">Cape Verde</option>
            <option value="CX">Christmas Islnd</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DE">Germany</option>
            <option value="DJ">Djibouti</option>
            <option value="DK">Denmark</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Rep.</option>
            <option value="DZ">Algeria</option>
            <option value="EC">Ecuador</option>
            <option value="EE">Estonia</option>
            <option value="EG">Egypt</option>
            <option value="EH">West Sahara</option>
            <option value="ER">Eritrea</option>
            <option value="ES">Spain</option>
            <option value="ET">Ethiopia</option>
            <option value="EU">European Union</option>
            <option value="FI">Finland</option>
            <option value="FJ">Fiji</option>
            <option value="FK">Falkland Islnds</option>
            <option value="FM">Micronesia</option>
            <option value="FO">Faroe Islands</option>
            <option value="FR">France</option>
            <option value="GA">Gabon</option>
            <option value="GB">United Kingdom</option>
            <option value="GD">Grenada</option>
            <option value="GE">Georgia</option>
            <option value="GF">French Guayana</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GL">Greenland</option>
            <option value="GM">Gambia</option>
            <option value="GN">Guinea</option>
            <option value="GP">Guadeloupe</option>
            <option value="GQ">Equatorial Guin</option>
            <option value="GR">Greece</option>
            <option value="GS">S. Sandwich Ins</option>
            <option value="GT">Guatemala</option>
            <option value="GU">Guam</option>
            <option value="GW">Guinea-Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HK">Hong Kong</option>
            <option value="HM">Heard/McDon.Isl</option>
            <option value="HN">Honduras</option>
            <option value="HR">Croatia</option>
            <option value="HT">Haiti</option>
            <option value="HU">Hungary</option>
            <option value="ID">Indonesia</option>
            <option value="IE">Ireland</option>
            <option value="IL">Israel</option>
            <option value="IN">India</option>
            <option value="IO">Brit.Ind.Oc.Ter</option>
            <option value="IQ">Iraq</option>
            <option value="IR">Iran</option>
            <option value="IS">Iceland</option>
            <option value="IT">Italy</option>
            <option value="JM">Jamaica</option>
            <option value="JO">Jordan</option>
            <option value="JP">Japan</option>
            <option value="KE">Kenya</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="KH">Cambodia</option>
            <option value="KI">Kiribati</option>
            <option value="KM">Comoros</option>
            <option value="KN">St Kitts&amp;Nevis</option>
            <option value="KP">North Korea</option>
            <option value="KR">South Korea</option>
            <option value="KW">Kuwait</option>
            <option value="KY">Cayman Islands</option>
            <option value="KZ">Kazakhstan</option>
            <option value="LA">Laos</option>
            <option value="LB">Lebanon</option>
            <option value="LC">St. Lucia</option>
            <option value="LI">Liechtenstein</option>
            <option value="LK">Sri Lanka</option>
            <option value="LR">Liberia</option>
            <option value="LS">Lesotho</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="LV">Latvia</option>
            <option value="LY">Libya</option>
            <option value="MA">Morocco</option>
            <option value="MC">Monaco</option>
            <option value="MD">Moldova</option>
            <option value="MG">Madagascar</option>
            <option value="MH">Marshall Islnds</option>
            <option value="MK">Macedonia</option>
            <option value="ML">Mali</option>
            <option value="MM">Burma</option>
            <option value="MN">Mongolia</option>
            <option value="MO">Macau</option>
            <option value="MP">N.Mariana Islnd</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauretania</option>
            <option value="MS">Montserrat</option>
            <option value="MT">Malta</option>
            <option value="MU">Mauritius</option>
            <option value="MV">Maldives</option>
            <option value="MW">Malawi</option>
            <option value="MX">Mexico</option>
            <option value="MY">Malaysia</option>
            <option value="MZ">Mozambique</option>
            <option value="NA">Namibia</option>
            <option value="NC">New Caledonia</option>
            <option value="NE">Niger</option>
            <option value="NF">Norfolk Islands</option>
            <option value="NG">Nigeria</option>
            <option value="NI">Nicaragua</option>
            <option value="NL">Netherlands</option>
            <option value="NO">Norway</option>
            <option value="NP">Nepal</option>
            <option value="NR">Nauru</option>
            <option value="NT">NATO</option>
            <option value="NU">Niue</option>
            <option value="NZ">New Zealand</option>
            <option value="OM">Oman</option>
            <option value="OR">Orange</option>
            <option value="PA">Panama</option>
            <option value="PE">Peru</option>
            <option value="PF">Frenc.Polynesia</option>
            <option value="PG">Pap. New Guinea</option>
            <option value="PH">Philippines</option>
            <option value="PK">Pakistan</option>
            <option value="PL">Poland</option>
            <option value="PM">St.Pier,Miquel.</option>
            <option value="PN">Pitcairn Islnds</option>
            <option value="PR">Puerto Rico</option>
            <option value="PS">Palestine</option>
            <option value="PT">Portugal</option>
            <option value="PW">Palau</option>
            <option value="PY">Paraguay</option>
            <option value="QA">Qatar</option>
            <option value="RE">Reunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russian Fed.</option>
            <option value="RW">Rwanda</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SC">Seychelles</option>
            <option value="SD">Sudan</option>
            <option value="SE">Sweden</option>
            <option value="SG">Singapore</option>
            <option value="SH">Saint Helena</option>
            <option value="SI">Slovenia</option>
            <option value="SJ">Svalbard</option>
            <option value="SK">Slovakia</option>
            <option value="SL">Sierra Leone</option>
            <option value="SM">San Marino</option>
            <option value="SN">Senegal</option>
            <option value="SO">Somalia</option>
            <option value="SR">Suriname</option>
            <option value="ST">S.Tome,Principe</option>
            <option value="SV">El Salvador</option>
            <option value="SY">Syria</option>
            <option value="SZ">Swaziland</option>
            <option value="TC">Turksh Caicosin</option>
            <option value="TD">Chad</option>
            <option value="TF">French S.Territ</option>
            <option value="TG">Togo</option>
            <option value="TH">Thailand</option>
            <option value="TJ">Tajikistan</option>
            <option value="TK">Tokelau Islands</option>
            <option value="TL">East Timor</option>
            <option value="TM">Turkmenistan</option>
            <option value="TN">Tunisia</option>
            <option value="TO">Tonga</option>
            <option value="TP">East Timor</option>
            <option value="TR">Turkey</option>
            <option value="TT">Trinidad,Tobago</option>
            <option value="TV">Tuvalu</option>
            <option value="TW">Taiwan</option>
            <option value="TZ">Tanzania</option>
            <option value="UA">Ukraine</option>
            <option value="UG">Uganda</option>
            <option value="UM">Minor Outl.Isl.</option>
            <option value="UN">United Nations</option>
            <option value="US">USA</option>
            <option value="UY">Uruguay</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VA">Vatican City</option>
            <option value="VC">St. Vincent</option>
            <option value="VE">Venezuela</option>
            <option value="VG">Brit.Virgin Is.</option>
            <option value="VI">Amer.Virgin Is.</option>
            <option value="VN">Vietnam</option>
            <option value="VU">Vanuatu</option>
            <option value="WF">Wallis,Futuna</option>
            <option value="WS">Samoa</option>
            <option value="YE">Yemen</option>
            <option value="YT">Mayotte</option>
            <option value="ZA">South Africa</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
        </select>

    </div>
    <label class="col-xs-1 control-label">Region</label>
    <div class="col-xs-3">
        <select th:field="*{region}" class="form-control"  th:disabled="*{submityn == 'Y'}">
            <option value="">Select a Region</option>
            <option value="1">Andhra Pradesh</option>
            <option value="2">Arunachal Pradesh</option>
            <option value="3">Assam</option>
            <option value="4">Bihar</option>
            <option value="5">Goa</option>
            <option value="6">Gujarat</option>
            <option value="7">Haryana</option>
            <option value="8">Himachal Pradesh</option>
            <option value="9">Jammu and Kashmir</option>
            <option value="10">Karnataka</option>
            <option value="11">Kerala</option>
            <option value="12">Madhya Pradesh</option>
            <option value="13">Maharashtra</option>
            <option value="14">Manipur</option>
            <option value="15">Megalaya</option>
            <option value="16">Mizoram</option>
            <option value="17">Nagaland</option>
            <option value="18">Orissa</option>
            <option value="19">Punjab</option>
            <option value="20">Rajasthan</option>
            <option value="21">Sikkim</option>
            <option value="22">Tamil Nadu</option>
            <option value="23">Tripura</option>
            <option value="24">Uttar Pradesh</option>
            <option value="25">West Bengal</option>
            <option value="26">Andaman and Nico.In.</option>
            <option value="27">Chandigarh</option>
            <option value="28">Dadra and Nagar Hav.</option>
            <option value="29">Daman and Diu</option>
            <option value="30">Delhi</option>
            <option value="31">Lakshadweep</option>
            <option value="32">Pondicherry</option>
            <option value="33">Chhattisgarh</option>
            <option value="34">Jharkhand</option>
            <option value="35">Uttaranchal</option>
            <option value="36">Telangana</option>
        </select>

    </div>
    <label class="col-xs-1 control-label">City</label>
    <div class="col-xs-2">

        <input type="text" class="form-control" th:field="*{city}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'City':''}"/>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">Nearest Railway Station</label>
    <div class="col-xs-6">
        <input type="text" class="form-control" th:field="*{railwayStation}" th:disabled="*{submityn == 'Y'}"
               th:placeholder="*{submityn != 'Y' ? 'Nearest Railway Station':''}"/>
    </div>
</div>

</div>
</body>

<script th:fragment="addressjs">

$(document).ready(function() {
     $('#address-tab').formValidation({
        framework: 'bootstrap',
            excluded: [':disabled'],

     icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
     fields: {
           buildingNo:{
                row: '.col-xs-3',
                validators: {
                     stringLength: {
                        max: 20,
                        message: 'This field must be less than 20 characters'
                    }
                }
            },
            address1:{
                row: '.col-xs-6',
                validators: {
                    notEmpty: {
                        message: 'The Address is required'
                    },
                     stringLength: {
                        max: 35,
                        message: 'This field must be less than 35 characters'
                    }
                }
            },
            address2:{
                row: '.col-xs-6',
                validators: {

                     stringLength: {
                        max: 35,
                        message: 'This field must be less than 35 characters'
                    }
                }
            },
            address3:{
                row: '.col-xs-6',
                validators: {

                     stringLength: {
                        max: 35,
                        message: 'This field must be less than 35 characters'
                    }
                }
            },
            address4:{
                row: '.col-xs-6',
                validators: {

                     stringLength: {
                        max: 35,
                        message: 'This field must be less than 35 characters'
                    }
                }
            },
            address5:{
                row: '.col-xs-6',
                validators: {

                     stringLength: {
                        max: 35,
                        message: 'This field must be less than 35 characters'
                    }
                }
            },
         postCode: {
                row: '.col-xs-2',
                validators: {
                    notEmpty: {
                        message: 'The Pin Code is required'
                    },
                    zipCode: {
                            country: 'IN',
                            message: 'The value is not valid %s postal code'
                        }
                }
            },
            country:{
                row: '.col-xs-3',
                validators: {
                    notEmpty: {
                        message: 'The Country is required'
                    }
                }
            },
            region:{
                row: '.col-xs-3',
                validators: {
                    notEmpty: {
                        message: 'The Region is required'
                    }
                }
            },
            city:{
                row: '.col-xs-2',
                validators: {
                    notEmpty: {
                        message: 'The City is required'
                    },
                    stringLength: {
                        max: 35,
                        message: 'This field must be less than 35 characters'
                    }
                }
            },
             railwayStation:{
                row: '.col-xs-6',
                validators: {
                    stringLength: {
                        max: 35,
                        message: 'This field must be less than 35 characters'
                    }
                }
            }
         }
     }).on('err.field.fv', function(e, data) {

            // data.element --> The field element
            var $tabPane = data.element.parents('.tab-pane'),
                tabId    = $tabPane.attr('id');
            $('a[href="#' + tabId + '"][data-toggle="tab"]')
                .parent()
                .find('i')
                 .removeClass('fa-check')
                .addClass('fa-times');
        }).on('success.field.fv', function(e, data) {
            // data.fv      --> The FormValidation instance
            // data.element --> The field element

            var $tabPane = data.element.parents('.tab-pane'),
                tabId    = $tabPane.attr('id'),
                $icon    = $('a[href="#' + tabId + '"][data-toggle="tab"]')
                            .parent()
                            .find('i')
                            .removeClass('fa-check fa-times');

        });
});

</script>

</html>