body {
    padding-top: 90px;
    padding-bottom: 40px;

}


.tab-pane{
margin-top:10px;
}


.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.nav-tabs>li>a>i {
padding-left:3px;
color:#a94442;
}

select+i{
padding-right:15px;
}

div.dataTables_wrapper {
        width: 95%;
        margin: 0 auto;
    }

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-text {
    color: #fff;
}

#footer {
	width:100%;
	height:auto;
	background-image: url(/images/background.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	position:fixed;
	_position:fixed;
	_bottom:0;
	bottom:0;
}

.header-bg {
      width:100%;
      background: url(/images/background.jpg);
      background-size:cover;
    }