<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container-full" th:fragment="content">
    <div th:if="${message != null}" class="alert alert-success" id="success-alert">
        <strong>Success!</strong> <span th:text="${message}"/>
    </div>
    <div th:if="${error != null}" class="alert alert-danger" id="failure-alert">
        <strong>Error!</strong> <span th:text="${error}"/>
    </div>
    <form id="viewCustomerDetailsForm" th:action="@{/action/customer}" class="form-horizontal" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">Customer List&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" id="exportButton" type="submit">Export as CSV</button>

                &nbsp;&nbsp;&nbsp;&nbsp;<label class="radio-inline"><input checked="checked" type="radio" value="1"
                                                                           name="filter"/>Show All</label>
                &nbsp;&nbsp;&nbsp;&nbsp;<label class="radio-inline"><input type="radio" value="2" name="filter"/>Approved</label>
                &nbsp;&nbsp;&nbsp;&nbsp;<label class="radio-inline"><input type="radio" value="3" name="filter"/>Submitted</label>
                &nbsp;&nbsp;&nbsp;&nbsp; <label class="radio-inline"><input type="radio" value="4" name="filter"/>Saved</label>
            </div>

            <div class="panel-body">
                <div class="row view-area">
                    <table id="dataTable" class="table table-hover table-striped table-bordered">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Status</th>
                            <th>Customer&nbsp;ID</th>
                            <th>Customer&nbsp;Name</th>
                            <th>Telephone&nbsp;Extn</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>GST&nbsp;Number</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="mItem : ${customers}">

                            <td><label type="text"
                                       th:text="${mItem.customerStatus}"/></td>
                            <td><a th:href="@{'/get/customer/{paramsKey}'(paramsKey=${mItem.customerId})}"
                                   th:text="${mItem.customerId}"/></td>
                            <td><label type="text"
                                       th:text="${mItem.customerName1}"/></td>
                            <td><label type="text"
                                       th:text="${mItem.telephoneNumberExtn}"/></td>
                            <td><label type="text"
                                       th:text="${mItem.email}"/></td>
                            <td><label type="text"
                                       th:text="${mItem.address1}"/></td>
                            <td><label type="text"
                                       th:text="${mItem.gstNumber}"/></td>
                            <td>
                                <button type="submit" th:attr="data-customerId=${mItem.customerId}"
                                        class="approveButton"
                                        th:if="*{mItem.submityn == 'Y' and #strings.toString(mItem.customerStatus) != 'APPROVED'} and *{mItem.submityn == 'Y' and #strings.toString(mItem.customerStatus) != 'SYNC'}">
                                    <i title="Approve" class="fa  fa-thumbs-up"></i></button>
                                <button type="submit" th:attr="data-customerId=${mItem.customerId}" class="rejectButton"
                                        th:if="*{mItem.submityn == 'Y'}"><i title="Reject"
                                                                            class="fa  fa-thumbs-down"></i></button>
                                <button type="submit" th:attr="data-customerId=${mItem.customerId}" class="resetButton"
                                        th:if="*{mItem.submityn == 'Y' and #strings.toString(mItem.customerStatus) !='APPROVED'} and *{mItem.submityn == 'Y' and #strings.toString(mItem.customerStatus) !='SYNC'}">
                                    <i title="Revert" class="fa  fa-undo"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <input type="hidden" name="customerId" id="customerId"/>
        <input type="hidden" name="action" id="action"/>

    </form>

</div>


</body>
<script th:fragment="js">
$.fn.dataTable.ext.search.push(
    function (settings, data, dataIndex) {

        var selected = $('input[name=filter]:checked').val();
        var customerStatus = data[0];

        if (selected == '2') {
            return customerStatus == 'APPROVED' ? true : false;
        }
        if (selected == '3') {
            return customerStatus == 'SUBMITTED' ? true : false;
        }
        if (selected == '1') {
            return true;
        }
        if (selected == '4') {
            return customerStatus == 'NEW' ? true : false;
        }
    });

$(document).ready(function () {

    $('#dataTable').DataTable({
        "scrollY": 230,
        "columnDefs": [
    { "width": "10%", "targets": 7 }
  ]
    });

    $('input:radio[name="filter"]').change(function () {
        var table = $('#dataTable').DataTable({
            retrieve: true
        });
        table.draw();
    });

    $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
        $("#success-alert").slideUp(500);
    });
    $("#failure-alert").fadeTo(2000, 500).slideUp(500, function () {
        $("#failure-alert").slideUp(500);
    });

    $('#viewCustomerDetailsForm').on('click', '.resetButton', function (e) {
        $('#viewCustomerDetailsForm').attr('action', '/action/customer');
        e.preventDefault();
        var $row = $(this)
            , index = $row.attr('data-customerid');
        $('#customerId').val(index);
        $('#action').val("RESET");
        bootbox.confirm({
            title: "Reset Customer Data",
            message: "Do you really want to Reset Customer Submitted Data? This will enable customer to edit there details again.",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
            },
            callback: function (result) {

                if (result) {
                    $('#viewCustomerDetailsForm').submit();
                }
            }
        });

    });
    $('#viewCustomerDetailsForm').on('click', '.approveButton', function (e) {
        $('#viewCustomerDetailsForm').attr('action', '/action/customer');
        e.preventDefault();
        var $row = $(this)
            , index = $row.attr('data-customerid');
        $('#customerId').val(index);
        $('#action').val("APPROVE");
        bootbox.confirm({
            title: "Reset Customer Data",
            message: "Do you really want to Approve Customer Data? This will enable customer data to be exported and imported into SAP.",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
            },
            callback: function (result) {

                if (result) {
                    $('#viewCustomerDetailsForm').submit();
                }
            }
        });
    });
    $('#viewCustomerDetailsForm').on('click', '.rejectButton', function (e) {
        $('#viewCustomerDetailsForm').attr('action', '/action/customer');
        e.preventDefault();
        var $row = $(this)
            , index = $row.attr('data-customerid');
        $('#customerId').val(index);
        $('#action').val("REJECT");
        bootbox.confirm({
            title: "Reset Customer Data",
            message: "Do you really want to Reject Customer Submitted Data? This will enable customer to edit there details again.",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
            },
            callback: function (result) {

                if (result) {
                    $('#viewCustomerDetailsForm').submit();
                }
            }
        });
    });

    $('#viewCustomerDetailsForm').on('click', '#exportButton', function () {
        $('#viewCustomerDetailsForm').attr('action', '/download/customer');
    });
});

</script>
</html>