<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>


<div class="container col-lg-4 col-lg-offset-4" th:fragment="content">
    <div sec:authorize="hasAuthority('ROLE_PASSWORD_CHANGE')">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>

            </div>
            <div class="panel-body">
                <div class="row view-area">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form role="form" id="changePasswordForm" th:object="${user}" th:action="@{/updatePassword}"
                              method="post">
                            <div class="row form-group" style="color:red">
                                User Logging in for the first time should change there password!!
                            </div>

                            <div class="row form-group">
                                <div >
                                    <label for="password">New Password</label>
                                    <input type="password" th:field="*{password}" id="password" class="form-control"
                                           placeholder="Enter new Password"
                                           required="required"/>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div >
                                    <label for="passwordConfirm">Confirm New Password</label>
                                    <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm"
                                           class="form-control"
                                           placeholder="Confirm New Password"
                                           required="required"/>
                                </div>

                            </div>
                            <div class="row form-group">
                            <div class="col-lg-12 label label-danger" th:text="${error}"/>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-4 col-lg-offset-2">
                                    <button class="btn btn-primary" type="submit">
                                        Change Password
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>