<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>


<div class="container col-lg-4 col-lg-offset-4" th:fragment="content">
    <div >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>

            </div>
            <div class="panel-body">
                <div class="row view-area">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form role="form" id="changePasswordForm" name="changePasswordForm" th:action="@{/updatePassword}" method="post">
                            <div class="row form-group">

                                <div >
                                    <label for="oldPassword">Old Password</label>
                                    <input type="password" name="oldPassword" id="oldPassword" class="form-control"
                                           placeholder="Enter old Password"
                                           required="required" autofocus="autofocus"/>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div >
                                    <label for="newPassword">New Password</label>
                                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                                           placeholder="New Password"
                                           required="required"/>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div >
                                    <label for="confirmNewPassword">Confirm New Password</label>
                                    <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control"
                                           placeholder="Confirm New Password"
                                           required="required"/>
                                </div>

                            </div>
                            <div class="row form-group">
                            <div class="col-lg-12 label label-danger" th:text="${error}"/>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-4 col-lg-offset-4">
                                    <button class="btn btn-primary" type="submit">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>