<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<div th:fragment="content">


    <div class="container" th:fragment="content">

        <div th:if="${message != null}" class="alert alert-success" id="success-alert">
            <strong>Success!</strong> <span th:text="${message}"/>
        </div>


        <div sec:authorize="hasAuthority('ADMIN')" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">System User Data Upload</h3>
            </div>

            <div class="panel-body">
                <div class="row view-area">
                    <form method="POST" enctype="multipart/form-data" action="/userupload">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">User file to upload:</label>
                            <div class="col-xs-3">
                                <input type="file" name="file"/>
                            </div>
                            <div class="col-xs-1">
                                <input type="submit" value="Upload"/>
                            </div>
                        </div>

                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
<script th:fragment="js">
$(document).ready(function(){

});

</script>
</html>