<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container"  th:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            User List

        </div>

        <div class="panel-body">
            <div class="row view-area">

                <table id="dataTable" class="table table-hover table-striped table-bordered">
                    <thead class="thead-inverse">
                    <tr>
                        <th>UserID</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Status</th>
                        <th>UserLastLogin</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mItem : ${users}">
                        <td><label type="text"
                                   th:text="${mItem.username}" /></td>
                        <td><label type="text"
                                   th:text="${mItem.email}" /></td>
                        <td><label type="text"
                                   th:each="a, iterStat : ${mItem.roles}" th:text="!${iterStat.last} ? ${a.name} + ',': ${a.name}" /></td>
                        <td><label type="text"
                                   th:text="${mItem.userStatus}" /></td>
                        <td><label type="text"
                                   th:text="${mItem.lastLoginDate}" /></td>
                        <td>
                            <button th:if="${#strings.toString(mItem.userStatus) == 'NEW'}" class="btn btn-primary"
                                    id="reminderButton" type="submit">Send Reminder
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
<script th:fragment="js">

    $(document).ready(function(){

        $('#dataTable').DataTable( {
            "scrollY": 300
            });
});
    </script>
</html>